body {
  background: #f9f9f9 !important;
}
.main a:hover {
  text-decoration: none;
  color: #337ab7;
}
.main > a {
  color: #000000 !important;
}
.main .main-social a {
  color: #000000 !important;
  text-decoration: underline;
}
.main .main-social {
  margin-top: 17px;
  text-align: center;
}
.block-text {
  float: left;
  display: inline-block;
  width: 609px;
  padding: 15px;
}
.block-img {
  float: left;
  display: inline-block;
}
.title, footer {
  font-family: 'Comfortaa', cursive;
}
.title {
  margin-top: 20px;
  text-align: center;
}
.title img{
  margin: 15px;
}
.title .lang {
  display: inline-block;
}
.title .lang a {
  color: #000000;
}
.title .lang-active {
  text-decoration: underline;
}
.title .title-text {
  font-size: 14pt;
}
.block {
  margin-top: 70px;
  background-color: white;
}
.first{
  margin-top: 40px;
}
.margin-right {
  margin-right: -60px;
}
.margin-bottom {
  margin-bottom: 50px;
}
.main .col-sm-8, .main .block-img {
  margin-bottom: -12px;
  margin-top: -12px;
}
.main .col-sm-4 {
  padding: 15px;
}
.cycle-slideshow {
  min-width: 100%;
  min-height: 100%;
}
.cycle-slideshow img {
  width: 100%;
}
.arrow {
  margin-top: 60px;
  text-align: center;
}
.main-title {
  font-family: "Comfortaa";
  font-weight: bold;
  margin-top: 30px;
  font-size: 16pt;
  text-align: center;
}
.main-content, .absolute-content-2 {
  font-family: "Times New Roman";
  text-align: justify;
  font-size: 12pt;
}
.main-content {
  margin-top: 10px;
}
.my-img {
  margin-left: -12px;
  margin-right: -12px;
}
#portfolio {
  margin-top: 30px;
  width: 760px;
  margin-left: auto;
  margin-right: auto;
}
.item {
  background-color: white;
  width: 350px;
  display: inline-block;
  float: left;
  height: 420px;
}
.item .absolute-content-2 {
  position: absolute;
  top: 170px;
}
.last {
  margin-left: 50px;
}
#message {
  padding: 10px;
  margin-top: 30px;
  font-family: 'Philosopher', sans-serif;
  font-size: 16pt;
}

#portfolio .main-title{
  margin-top: 10px;
}
.content {
  padding: 15px;
  position: relative;
}
footer {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}
.item .top {
  top:150px;
}
@media only screen and (max-width: 1440px) {
  .container {
    width: 740px;
  }
  .arrow {
    margin-top: 20px;
  }
  .block-text {
    width: 440px;
  }
  .block-img img{
    width: 300px;
  }
  #message {
    font-size: 14pt;
  }
}

@media only screen and (max-width: 767px) {
  .container, #portfolio {
    width: 493px;
  }
  .margin-bottom {
    margin-bottom: 0px;
  }
  .margin-right {
    margin-right: 0px;
  }
  .item .absolute-content-2 {
    position: relative;
    top: inherit;
  }
  #portfolio .col-md-12, .item, .item-last {
    width: 100%;
  }
  .item {
    margin-top: 70px;
  }
  .first-item {
    margin-top: 0px;
  }
  .last {
    margin-left: 0px;
  }
  .main .col-sm-8, .main .block-img, .main .block-text{
    margin-bottom: -0;
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
  .block-img img{
    width: 250px;
  }
  #message {
    font-size: 12pt;
  }

}
@media only screen and (max-width: 493px) {
  .container, #portfolio {
    width: 100%;
  }
  .my-img {
    margin-left: 0px;
    margin-right: 0px;
  }
  .margin-bottom {
    margin-bottom: 0px;
  }
  .margin-right {
    margin-right: 0px;
  }
  #message {
    font-size: 12pt;
  }
}
