  @import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
body {
  background: #f9f9f9 !important;
}
.main a {
  color: #000000 !important;
}
.title, footer {
  font-family: 'Comfortaa', cursive;
}
.title {
  margin-top: 20px;
  text-align: center;
}
.title .lang {
  display: inline-block;
}
.title .lang-active {
  text-decoration: underline;
}
.title .title-text {
  font-size: 18pt;
}
.main .block {
  margin-top: 70px;
  background-color: white;
}
.main .col-lg-8 {
  margin-bottom: -12px;
  margin-top: -12px;
}
.slideshow {
  height: 306px;
  width: 606px;
}
.arrow {
  margin-top: 60px;
  text-align: center;
}
.main-title {
  margin-top: 30px;
  margin-left: 20px;
  text-decoration: bold;
  font-style: italic;
  font-size: 17pt;
  text-align: center;
}
.main-content {
  margin-left: 10px;
  margin-top: 20px;
  text-align: left;
  font-size: 12pt;
}
#message {
  margin-top: 30px;
}
footer {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .main .col-lg-4 {
    /*Change to Media Query*/
    width: 274px;
  }
}
@media only screen and (max-width: 1200px) {
  .main .col-lg-4 {
    /*Change to Media Query*/
    width: 606px;
  }
  .main .block {
    width: 606px;
    margin-left: auto;
    margin-right: auto;
  }
